<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <script src="/vendors.js"></script>
    <style>
      #collage {
        position: relative;
        border: 3px dashed #efefef;
        height: 300px;
      }
      #collage img {
        position: absolute;
      }
      #flickr {
        height: 300px;
        overflow: scroll;
      }
      #flickr img {
        width: 80px;
        padding: 2px 5px;
      }
    </style>
    <title>Collagr</title>
  </head>
  <body>
    <div id="main"></div>
  </body>
  <script src="/build.js"></script>
</html>
